<h1>Канал: {{ channel.name }}</h1>

<p>ID: {{ channel.id }}</p>
<p>Название: {{ channel.name }}</p>
<p>URL: {{ channel.url }}</p>
<p>Описание: {{ channel.description }}</p>
<p>Страна: {{ channel.country }}</p>
<p>Дата регистрации: {{ channel.registration_data.date }}</p>
<p>Число просмотров: {{ channel.number_views }}</p>
<p>Число подписчиков: {{ channel.number_subscribes }}</p>

{% if channel.links %}
    <p><b>Ссылки</b></p>
    {% for link in channel.links %}
        <a href="{{ link.url }}">{{ link.name }}</a><br>
    {% endfor %}
{% endif %}

<h2>Статиситка</h2>
<p>Количиство лайков: {{ statistics.like_total }}</p>
<p>Количиство дизлайков: {{ statistics.dislike_total }}</p>

<p><a href="/channels">Все каналы</a></p>

